<h1>Calculator</h1>
<div class="container">
  <form [formGroup]="inputForm">
    <div class="col left">
      <div class="num-1"><input type="number" formControlName="num1" required></div>
      <div class="num-2"><input type="number" formControlName="num2" required></div>
    </div>
    <div class="col right">
      <div class="solution">= {{solution}}</div>
    </div>
  </form>
</div>
<div class="operations">
    <button type="submit" [disabled]="inputForm.invalid" (click)="add(num1, num2)">Add</button>
    <button type="submit" [disabled]="inputForm.invalid" (click)="subtract(num1, num2)" >Subtract</button>
    <button type="submit" [disabled]="inputForm.invalid" (click)="multiply(num1, num2)">Multiply</button>
    <button type="submit" [disabled]="inputForm.invalid || this.inputForm.controls.num2.value == 0" (click)="divide(num1, num2)">Divide</button>
  </div>
<br><div><button (click)="reset()">Clear</button></div>
<!-- debug button <button (click)="print()">Debug</button> -->