/* styles, inspiration taken from Angular's shopping example */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  background-color: azure;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* Text */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

/* Input */
input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

/* for responsive layouts */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.col {
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
}
.left {
  
}
.num-1 {
  display:grid;
  align-items:right;
  
}

.num-2 {
  display:grid;
  align-items:left;
}

.right {
  display:flex;
  align-items:center;
  justify-content:center;
}

.solution {
  width: 200px;
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

.operations {
  padding-top: 15px;
}

/* Button */
.button, button {
  display: inline-grid;
  grid-column-gap: 4;
  align-items: center;
  padding: 8px 32px;
  border-radius: 0px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007a7a;
  color: white;
  border-color:#007a7a;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}