/* styles, inspiration taken from Angular's shopping example */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  background-color: azure;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* Text */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}



/* mobile phones */
.container {
  display:flex;
  width: 100%;
  align-items:center;
  justify-content:center;
}


/*
.col {
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
}
*/

/* desktop layout */
@media only screen and (min-width: 600px) {
  .col {
    
    
  }
  .left {
    width: 50%;
    float:left;
    padding-right:150px;
  }
  .right {
    width: 50%;
    float:right;
    padding-top:25px;
  }
  
  /*.operations {
    padding-top: 111px;
  }
  */
}

/* Input */
input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

.solution {
  max-width: 175px;
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

/*
.num-1 {
  display:grid;
  align-items:right;
  
}

.num-2 {
  display:grid;
  align-items:left;
}
*/
/*
.right {
  display:flex;
  align-items:center;
  justify-content:center;
}
*/

/* Button */
.button, button {
  display: inline-grid;
  grid-column-gap: 4;
  align-items: center;
  padding: 8px 32px;
  border-radius: 0px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007a7a;
  color: white;
  border-color:#007a7a;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}